    /* hyperlink underline clear */
    
    @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');
    a {
        text-decoration: none;
        color: black;
    }
    /* navigation bar */
    
    body {
        padding: 0;
        margin: 0;
        font-family: 'Baloo Bhaina 2', cursive;
        color: white;
        /* background: url("/bg.jpg"); */
    }
    
    nav {
        padding: 0;
        margin: 0;
    }
    
    #nav {
        display: flex;
        color: white;
        align-items: center;
        position: fixed;
        top: 0px;
        right: 0;
        left: 0;
        background-color: purple;
    }
    
    nav a {
        color: white;
    }
    
    nav div {
        border-radius: 4px;
    }
    
    .navitem:hover {
        cursor: pointer;
        background-color: #630a63;
    }
    
    .navitem {
        padding: 0px 42px;
    }
    
    @media(max-width:670px) {
        .navitem {
            padding: 0px 20px;
        }
        #logo {
            padding: 0 20px;
        }
    }
    
    #logo {
        width: 40px;
        height: 40px;
        padding: 0;
        margin: 0;
        padding: 0px 42px;
    }
    
    @media(max-width:490px) {
        #logo {
            display: none;
        }
        .navitem {
            padding: 5px 15px;
        }
    }
    /* navbar css end here */
    /* welcome note  */
    
    .cid {
        margin: 0.2cm auto;
        width: 3cm;
        border: black 2px solid;
        display: block;
        border-radius: 3cm;
    }
    
    .welcome {
        /* border: 2px solid black; */
        margin-top: 1.5cm;
        /* background-color: #1d1d212e; */
        text-align: center;
        font-size: 26px;
    }
    
    button:hover {
        border: 1px solid black;
        padding: 9px;
        cursor: pointer;
    }
    
    button {
        padding: 7px;
        background-color: #00000098;
        color: white;
        border: none;
    }
    
    #welcome_note2 {
        border: 1px solid white;
        height: 4cm;
        padding-top: 1cm;
    }
    /* footer */
    
    footer {
        background-color: black;
        color: white;
        margin-top: 400px;
        bottom: 0em;
    }
    
    .footer {
        color: white;
        text-align: center;
        padding: 0.3cm 0;
    }
    
    .footer:hover {
        border: 2px solid purple;
    }
    
    #footer5 {
        color: white;
        text-align: center;
        padding: 0.5cm 0;
    }
    /* footer css end here  */